<div class="jumbotron">
    <h3 class="display-5 text-center">Contractor Registration</h3>
    <hr>
    <div class="row">
        <div class="col-md-4" style="border-right: 1px solid lightgray;">
            <app-contractor-detail></app-contractor-detail>
        </div>
        <div class="col-md-8">
            <app-contractor-list></app-contractor-list>
        </div>
    </div>
    <hr>
    <h3 class="display-4 text-center">Contractor Contracts</h3>
    <hr>
    <div class="row">
        <div class="col-md-4" style="border-right: 1px solid lightgray;">
            <app-contractor-contracts></app-contractor-contracts>
        </div>
        <div class="col-md-8">
            <app-contractor-contracts-list></app-contractor-contracts-list>
        </div>
    </div> 
</div>
